name: All recent posts
on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

jobs:
  readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: sarisia/actions-readme-feed@v1
        id: feed
        with:
          file: 'README.md'
          format: '- ${day} ${monthlong} - [${title}](${url})'
          max_entry: 10
          url: |
            https://www.arnan.me/feed/page:feed.xml
            https://ajdg.solutions/feed/
      - if: ${{ steps.feed.outputs.changed == true }}
        uses: sarisia/actions-commit@master